<footer class="footer bg-light mt-5 px-2 py-4 ">
  <div class="container">
    <div class="row">
      <div class="col-md text-center text-md-left">
        <p class="text-muted my-0"><b>&copy; 2020 - {{ site.time | date: '%Y' }} Smartphones-Durcis.be</b></p>
      </div>
      <div class="col-md">
        <p class="text-center text-md-right text-muted">Sous licence <a href="https://creativecommons.org/licenses/by-sa/3.0/">CC BY-SA 3.0</a> - Thème basé sur <a href="https://github.com/LineageOS/lineage_wiki.">LineageOS</a><br />
        {% if page.last_updated %}Dernière mise à jour de la page : {{page.last_updated}}<br/>{% endif %} Dernière mise à jour du site : {{ site.time | date: "%-d %b %Y" }}</p>
      </div>
    </div>
  </div>
</footer>
